@import "responsive";
@import "mixins";

.home {
  @include section-default;
  @include navbar-fixed-height;

  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    &__top {
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      &__title {
        font-weight: var(--text-bold);
        font-size: 1.1rem;
      }
    }
    &__bottom {
      margin-bottom: 3em;
      text-align: center;
      &__subtitle,
      a {
        color: var(--mid-gray);
        font-size: 0.9rem;
        text-decoration: underline;
        cursor: pointer;
        &:last-child {
          margin-top: 5px;
        }
      }
    }
  }
}
