@import "mixins";
@import "responsive";

.single__container {
  @include section-default;

  height: 100vh;

  display: grid;
  align-items: center;
  grid-template-rows: 50% 30%;

  @include for-tablet-landscape-up {
    display: flex;
    flex-direction: column;

    height: 100%;
    position: relative;
  }

  &__top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: fit-content;
    gap: 1.2rem;

    @include for-tablet-landscape-up {
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
    }

    &__title {
      grid-area: 1 / 1 / span 1 / span 3;
      text-align: center;
      margin: 20px 0;
    }
    &__description {
      font-size: 0.74rem;
      line-height: 1.4;
      text-align: justify;
      width: 80%;
      margin: auto;
      @include for-small-laptop {
        font-size: 0.7rem;
        width: 90%;
      }
      @include for-phone-only {
        font-size: 0.74rem;
      }

      &:nth-of-type(1) {
        grid-area: 2 / 2 / span 1 / span 1;
        font-weight: var(--text-bold);
      }
      &:nth-of-type(2) {
        grid-area: 2 / 3 / span 1 / span 1;
        font-weight: var(--text-light);
        height: 100%;
      }
    }
  }

  &__bottom {
    @include for-tablet-landscape-up {
      margin-bottom: 10rem;
      width: 65%;
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &__text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 0.7rem;
        margin: 6px 0;
        cursor: pointer;
        .bold {
          font-weight: var(--text-bold);
          margin-bottom: 2px;
        }
        .light {
          font-weight: var(--text-light);
        }
      }
      &__logo {
        width: 60px;
        height: auto;
        object-fit: contain;
        cursor: pointer;
      }
    }
  }
}
