@import "responsive";

.slider {
  // margin-top: calc(3rem + 60px);
  &__title {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 0.9rem;
    margin-bottom: 20px;
    .bold {
      font-weight: var(--text-bold);
      margin-bottom: 6px;
    }
    .light {
      font-weight: var(--text-light);
    }
  }
  &__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;

    @include for-tablet-landscape-up {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .slider__item {
      margin-right: 10px;
      height: 150px;
      cursor: pointer;
      @include for-small-laptop {
        height: 90%;
      }

      &__text {
        font-weight: var(--text-bold);
        margin-bottom: 5px;
        font-size: 0.7rem;
        &__img {
          position: relative;
          width: 100%;
          height: 10rem;
          @include for-big-desktop-up {
            height: 20em;
          }
        }
      }
      &__img {
        height: 100%;
        width: 100%;
        @include for-tablet-portrait-up {
          aspect-ratio: 4/ 3;
        }
      }
      &__more {
        display: flex;
        align-self: center;
        justify-content: center;

        &__text {
          display: flex;
          align-items: center;
          flex-direction: column;
          .bold {
            font-weight: var(--text-bold);
            margin-bottom: 6px;
          }
          .light {
            font-weight: var(--text-light);
          }
        }
      }
    }
  }
}
